/*font-family: 'Inconsolata', monospace;*/
body {
    font-family: 'Roboto Mono', monospace;
}
.arima {
    font-family: 'Arima', cursive;
}
.lobster{
    font-family: 'Lobster', cursive;
}
.great{
    font-family: 'Great Vibes', cursive;
}
.ts-1{
    font-size: 60px;
}
.ts-2{
    font-size: 80px;
}
.ft-30{
    font-size: 30px;
}
header{
    margin-top: 75px;
}
.pt-15 {
    padding-top: 150px !important;
}
/*footer*/
footer {
    background-color: #f4f6f7;
    padding-top: 90px;
    padding-bottom: 120px;
}
footer .social li {
    display: inline-block;
    margin: 0 5px;
}
footer .social li a {
    font-size: 100px;
    color: #6c6c6c;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
footer .social li a:hover {
    color: #0067f4;
}
footer .footer-support {
    padding-top: 21px;
}
footer .footer-support span {
    font-size: 16px;
    line-height: 24px;
    color: #121212;
    font-weight: 600;
    margin-top: 9px;
    display: block;
}
@media (max-width: 767px) {
    footer .footer-support span {
        display: block;
    }
}
footer .copyright .text {
    color: #121212;
}

